# Dependencies

In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

# Import PANDAS to scrape tables
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 95.0.4638
Get LATEST chromedriver version for 95.0.4638 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/95.0.4638.69/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Alexis\.wdm\drivers\chromedriver\win32\95.0.4638.69]

# Launch automated browser

In [3]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

### Searching for elements with a specific combination of tag (div) and attribute (list_text). 
### We're also telling our browser to wait one second before searching for components

True

# HTML PARSER - ARTICLES

In [4]:
# Parse the HTML with B.Soup
html = browser.html
news_soup = soup(html, 'html.parser')    # Contains all the HTML parsed with B.Soup

slide_elem = news_soup.select_one('div.list_text')   # Creates a variable with ONE <div> </div>.

In [5]:
slide_elem

<div class="list_text">
<div class="list_date">November 19, 2021</div>
<div class="content_title">NASA Wins 4 Webbys, 4 People's Voice Awards</div>
<div class="article_teaser_body">Winners include the JPL-managed "Send Your Name to Mars" campaign, NASA's Global Climate Change website and Solar System Interactive.</div>
</div>

In [6]:
# Find an specific objetc withing the selected <div> </div>.
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()      # Shows only the text.
news_title

"NASA Wins 4 Webbys, 4 People's Voice Awards"

In [7]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'Winners include the JPL-managed "Send Your Name to Mars" campaign, NASA\'s Global Climate Change website and Solar System Interactive.'

# HTML PARSER - IMAGES

In [8]:
# Visit different URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [9]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]    # Find 'button' tags (there are 3 of them) --> we need the 2nd one.
full_image_elem.click()

In [10]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

# Find the >>> relative <<< image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')   # >>> .get() <<< retrieves the element.
img_url_rel

'image/featured/mars2.jpg'

In [11]:
# Use the base URL to create an >>> absolute <<< URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

# Scrape Tables with Pandas

In [13]:
# 1) Use .read_html() function

df = pd.read_html('https://galaxyfacts-mars.com')[0] # read_html only searches and return a list of tables.
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [14]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [15]:
browser.quit()